<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" th:href="@{/css/style.css}" href="../public/css/style.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
<div class="divLogo">
    <img src="../img/logo.png" alt="Logo">
</div>
<div>
    <form th:action="@{/login}" method="post">
        <table class="formTable">
            <tr>
                <td>
                    <input class="inputField" type="text" placeholder="Username" name="username">
                </td>
                <td>
                    <input class="inputField" type="password" placeholder="Password" name="password">
                </td>
            </tr>
        </table>
        <div>
            <input class="submitBtn" type="submit" value="Sign In">
        </div>
    </form>
    <form th:action="@{/registration}" method="get">
        <input class="submitBtn" type="submit" value="Registration">
    </form>
</div>
</body>
</html>