<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div>
    <form th:action="@{/order/approveAndPay}" th:object="${invoice}" th:method="post">
        <div th:if="${invoice != null}">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>QTY</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody th:if="${invoice.burgers != null and #lists.size(invoice.burgers) > 0}">
                    <tr th:each="burger, stat : ${invoice.burgers}" th:if="${burger.qty > 0}">
                        <td>
                            <span th:text="${burger.name}"></span>
                            <input type="hidden" value="${burger.name}" th:field="*{burgers[__${stat.index}__].name}" />
                        </td>
                        <td>
                            <span th:text="${burger.price}"></span>
                            <input type="hidden" value="${burger.price}" th:field="*{burgers[__${stat.index}__].price}" />
                        </td>
                        <td>
                            <span th:text="${burger.qty}"></span>
                            <input type="hidden" value="${burger.qty}" th:field="*{burgers[__${stat.index}__].qty}" />
                        </td>
                    </tr>
                </tbody>
                <tbody th:if="${invoice.drinks != null and #lists.size(invoice.drinks) > 0}">
                    <tr th:each="drink, stat : ${invoice.drinks}" th:if="${drink.qty > 0}">
                        <td>
                            <span th:text="${drink.name}"></span>
                            <input type="hidden" value="${drink.name}" th:field="*{drinks[__${stat.index}__].name}" />
                        </td>
                        <td>
                            <span th:text="${drink.price}"></span>
                            <input type="hidden" value="${drink.name}" th:field="*{drinks[__${stat.index}__].price}" />
                        </td>
                        <td>
                            <span th:text="${drink.qty}"></span>
                            <input type="hidden" value="${drink.qty}" th:field="*{drinks[__${stat.index}__].qty}" />
                        </td>
                    </tr>
                </tbody>
                <tbody th:if="${invoice.potatoFrees != null and #lists.size(invoice.potatoFrees) > 0}">
                    <tr th:each="potato, stat : ${invoice.potatoFrees}" th:if="${potato.qty > 0}">
                        <td>
                            <span th:text="${potato.potatoSize}"></span>
                            <input type="hidden" value="${potato.potatoSize}" th:field="*{potatoFrees[__${stat.index}__].potatoSize}" />
                        </td>
                        <td>
                            <span th:text="${potato.price}"></span>
                            <input type="hidden" value="${potato.price}" th:field="*{potatoFrees[__${stat.index}__].price}" />
                        </td>
                        <td>
                            <span th:text="${potato.qty}"></span>
                            <input type="hidden" value="${potato.qty}" min="0" th:field="*{potatoFrees[__${stat.index}__].qty}" />
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td>
                        <span>Total price: </span>
                        <span th:text="${invoice.totalPrice}"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${invoice.paymentStrategy.strategy != null}">
            <input type="hidden" value="paymentStrategy.strategy" th:field="*{paymentStrategy.strategy}" />
            <div th:if="${invoice.paymentStrategy.strategy == 'CREDIT_CARD'}">
                <input type="text" placeholder="First Name" th:field="*{paymentStrategy.firstName}" />
                <input type="text" placeholder="Last Name" th:field="*{paymentStrategy.lastName}" />
                <input type="number" value="0" th:field="*{paymentStrategy.cardNumber}" />
                <input type="text" placeholder="dd/M/yyyy" th:field="*{paymentStrategy.expirationDate}" />
                <input type="number" value="0" min="0" max="999" th:field="*{paymentStrategy.cvcCode}" />
            </div>
            <div th:if="${invoice.paymentStrategy.strategy == 'PAYPAL'}">
                <input type="text" placeholder="E-mail" th:field="*{paymentStrategy.email}" />
                <input type="text" placeholder="Password" th:field="*{paymentStrategy.password}" />
            </div>
        </div>
        <div><input type="submit" value="Remit payment" /></div>
    </form>
    <form th:action="@{/order/decline}" th:method="get">
        <div><input type="submit" value="Decline payment" /></div>
    </form>
</div>
</body>
</html>