<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link type="text/css" th:href="@{/css/style.css}" href="../public/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="divLogo">
    <img src="../img/logo.png" alt="Logo">
</div>
<div>
    <form th:action="@{/registration}" th:object="${userForm}" method="post">
        <table class="formTable">
            <tr>
                <td><input class="inputField" type="text" placeholder="Username" th:field="*{username}"></td>
                <td class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>

                <td><input class="inputField" type="password" placeholder="Password" th:field="*{password}"></td>
                <td class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>

                <td><input class="inputField" type="password" placeholder="Confirm password" th:field="*{confirmPassword}"></td>
                <td class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></td>

                <td><input class="inputField" type="text" placeholder="Email" th:field="*{email}"></td>
                <td class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>

                <td><input class="inputField" type="number" placeholder="Phone" th:field="*{phone}"></td>
                <td class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
            </tr>
        </table>
        <div>
            <input class="submitBtn" type="submit" value="Create">
        </div>
    </form>
    <form th:action="@{/login}" method="get">
        <input class="submitBtn" type="submit" value="Cancel">
    </form>
</div>
</body>
</html>