<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" th:href="@{/css/style.css}" href="../public/css/style.css" rel="stylesheet" />
    <title>User Info</title>
</head>
<header>
    <div class="pageLogo">
        <img src="../img/userInfo.png" alt="Logo">
    </div>
    <span class="secondBtn">
        <form th:action="@{/burgerFactory/main}" method="get">
            <input class="imageBtn" type="image" src="../img/logo.png" value="Back to menu">
        </form>
    </span>
    <span class="firstBtn">
        <form th:action="@{/logout}" method="get">
            <input class="imageBtn" type="image" src="../img/signOut.png" value="Sign Out">
        </form>
    </span>
</header>
<body>
<div class="container">
    <div id="divEditUserData">
        <input id="modifyUserDataBtn" type="button" onclick="editUserDataForm()" value="EDIT USER DATA" />
    </div>
    <hr>
    <div id="editUserDataForm">
        <form th:action="@{/burgerFactory/userInfo}" th:object="${userInfo}" method="post">
            <table class="userInfoTable">
                <tbody>
                    <tr>
                        <td><h3>USERNAME</h3></td>
                        <td><span th:text="${userInfo.username}"></span></td>
                        <td><input class="showHideUserInfo" type="text" placeholder="New username" th:field="*{username}" style="display:none"></td>
                    </tr>
                    <tr>
                        <td><h3>E-MAIL</h3></td>
                        <td><span th:text="${userInfo.email}"></span></td>
                        <td><input class="showHideUserInfo" type="text" placeholder="New e-mail" th:field="*{email}" style="display:none"></td>
                    </tr>
                    <tr>
                        <td><h3>PHONE</h3></td>
                        <td><span th:text="${userInfo.phone}"></span></td>
                        <td><input class="showHideUserInfo" type="text" placeholder="New phone number" th:field="*{phone}" style="display:none"></td>
                    </tr>
                    <tr>
                        <td><h3>PASSWORD</h3></td>
                        <td>---</td>
                        <td><input class="showHideUserInfo"  type="password" placeholder="New password" th:field="*{password}" style="display:none"></td>
                    </tr>
                </tbody>
            </table>
            <div class="showHideUserInfo" style="display:none">
                <hr>
                <input id="updateUserDataBtn" type="submit" value="Confirm" />
            </div>
        </form>
    </div>
</div>
<script>
    function editUserDataForm() {
        var elements = document.getElementsByClassName("showHideUserInfo");
        if (elements[0].style.display === 'none') {
            for (var i=0; i < elements.length; i++) {
                elements[i].style.display = 'block';
            }
        } else {
            for (var i=0; i < elements.length; i++) {
                elements[i].style.display = 'none';
            }
        }
    }
</script>
</body>
<footer></footer>
</html>